<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 100px;
            margin: 0 auto;
            text-align: center;
        }
        h1 {
            color: #7e0000;
        }
        p {
            color: #312c2c;
            text-align: center;
        }

        .meio {
            position: relative;
            display: block;
        }
        
        .destination {
            margin-top: 20px;
        }
        
        .img {
            max-width: 50%;
            height: auto;
            display: block;
        }
    

    </style>